.page-show-card
  %h2 个人名片展示页
  %hr
  .card-area-content-field
    %span 手机号：
    %span #{@card.phone_num}
  .card-area-content-field
    %span 单位：
    %span #{@card.company}
  .card-area-content-field
    %span qq：
    %span #{@card.qq_code}