@import "bootstrap-sprockets";
@import "bootstrap";
.card-area{
  background-image: url(http://i.teamkn.com/i/gYqaDjW1.png);
  padding: 15px 5px;
  margin: 10px;
  border-radius:15px;
  height:220px;

}


.card-area{
}
.card-head-img{
  max-width:120px;
  max-height:200px;
}
.card-area-content{
  border-radius:15px;
  background-color:#A4CEF2;
  height:90%;
  width:60%;
}
