@import "bootstrap-sprockets";
@import "bootstrap";


.field{
  text-align: center;
}
.list{
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: -30px;
  .span-top{
    width: 360px;
    height: 90px;
    position: relative;
  }
}

.form-simple-article{
  margin-top: 15px;
}

.article-details{
  .article-text-body{
    p{
      text-indent: 2em;
    }
  }
  .article-picture{
   
  }
}